<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

    <h1 class="h2">My Schedules</h1>
    <!--
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button class="btn btn-sm btn-outline-secondary">Share</button>
          <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
          All
        </button>
      </div>-->
  </div>
  <div class="label pt-2" *ngIf="loaded && schedules.length == 0">
    You do not have any schedules<br/>
    Create one by registering for a <a routerLink="/courses">Course</a>
  </div>
  <ng-container *ngFor="let s of schedules">
    <div class="schedule-card my-3 align-items-start d-flex flex-column flex-sm-row justify-content-between"
      [class.border-success]="s.status == 'success'" [class.border-fail]="s.status == 'fail'"
      [class.border-running]="s.status == 'running'" [class.border-working]="s.status == 'working'">
  
      <div style="padding-left: 1.3rem; flex-grow: 1" class="pr-3">
        <div *ngIf="s.status == 'running'" class="running">
          <span style="margin-left: -1.8rem; margin-right: 0.4rem" [innerHtml]="'clock' | feather"></span>
          <b>scheduled:</b> {{ s.kid }}
        </div>
        <div *ngIf="s.status == 'working'" class="working">
          <span style="margin-left: -1.8rem; margin-right: 0.4rem" [innerHtml]="'zap' | feather"></span>
          <b>running</b> {{ s.kid }}
        </div>
        <div *ngIf="s.status == 'success'" class="success">
          <span style="margin-left: -1.8rem; margin-right: 0.3rem" [innerHtml]="'check' | feather"></span>
          <b>success:</b> {{ s.kid }}
        </div>
        <div *ngIf="s.status == 'fail'" class="fail">
          <span style="margin-left: -1.8rem; margin-right: 0.3rem" [innerHtml]="'x' | feather"></span>
          <b>failed:</b> {{ s.kid }}
        </div>
  
        <ul class="list-icon">
          <li>
            <span class="info-icon" [innerHtml]="'play' | feather:16:'#9d9d9d' "></span>
            <a [href]="s.link" class="srclink" target="_blank">{{ s.sport }}</a>
          </li>
          <li>
            <span class="info-icon" [innerHtml]="'clock' | feather:16:'#9d9d9d' "></span>
            {{ s.date | calendar }}
          </li>
          <li>
            <span class="info-icon" [innerHtml]="'calendar' | feather:16:'#9d9d9d' "></span>
            {{ s.date | date: 'H:mm:ss, dd.MM.yyyy'}}
          </li>
          <li>
            <span class="info-icon" [innerHtml]="'user' | feather:16:'#9d9d9d' "></span>
            {{ s.user }}
          </li>
        </ul>
      </div>
      <div *ngIf="s.status == 'fail'" class="mr-3 mt-3 mt-sm-0">
        <div class="">
          <b>Error message:</b> {{ s.result.message }}
        </div>
      </div>
      <div *ngIf="s.status != 'fail'" class="mr-3 mt-3 mt-sm-0">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-4 pr-0">
                <ul class="list-icon">
                  <li><b>Name</b></li>
                  <li><b>Surname</b></li>
                  <li><b>City</b></li>
                  <li><b>Street</b></li>
                </ul>
              </div>
              <div class="col-8">
                <ul class="list-icon">
                  <li>{{ s.data.firstname }}</li>
                  <li>{{ s.data.surname }}</li>
                  <li>{{ s.data.city }}</li>
                  <li class="text-nowrap">{{ s.data.street }}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-4 pr-0">
                <ul class="list-icon">
                  <li><b>E-Mail</b></li>
                  <li><b>MatrNr</b></li>
                  <li><b>Phone</b></li>
                  <li><b>IBAN</b></li>
                </ul>
              </div>
              <div class="col-8 mb-3 mb-sm-0">
                <ul class="list-icon">
                  <li [title]="s.data.email">{{ s.data.email }}</li>
                  <li>{{ s.data.matrnr }}</li>
                  <li [title]="s.data.phone">{{ s.data.phone }}</li>
                  <li [title]="s.data.iban">{{ s.data.iban }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div style="flex-grow: 1" class="text-right d-flex flex-sm-column flex-row justify-content-center align-items-end">
  
        <span class="sidebutton btn btn-sm mr-2 mr-sm-0 pt-0 text-danger" (click)="cancelSchedule(s)">
          <svg style="padding-bottom: 3px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            color="inherit">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="4.93" y1="4.93" x2="19.07" y2="19.07"></line>
          </svg>
          {{ s.running ? 'Cancel' : 'Remove' }}
        </span>
        <!--<span class="sidebutton btn btn-sm">
              <svg style="padding-bottom: 3px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" color="inherit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
              Edit
          </span>-->
  
        <!--<button type="button" class="btn btn-outline-danger btn-sm mb-0 mb-sm-2 mr-2 mr-sm-0"
            (click)="cancelSchedule(s)">
            <span [innerHtml]="'slash' | feather:16"></span>
            Cancel
          </button>
          <button type="button" class="btn btn-outline-primary btn-sm">
  
            Edit
          </button>-->
      </div>
    </div>
  </ng-container>
  