.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.h2{
  font-weight: 400;
}

.link {
  text-decoration: underline;
  color: inherit;
}
