<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-12 col-md-3 col-lg-2 mr-0 text-center p-1 p-md-2" href="#">HSZ Book RWTH Aachen</a>

  <div class="d-md-none d-flex flex-row justify-content-around p-3 box-shadow"
    style="width: 100%; background-color:white;">
    <div>
      <a class="nav-item" routerLink="/" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </div>
    <div>
      <a class="nav-item" routerLink="courses" routerLinkActive="active-link">Courses</a>
    </div>
    <div>
      <a class="nav-item" routerLink="schedules" routerLinkActive="active-link">Schedules</a>
    </div>
    <div class="dropleft">
      <a class="p-0" href="#" data-toggle="dropdown">
        <span class="text-muted" [innerHtml]="'menu' | feather"></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="logout()"><span class="text-muted pr-2" [innerHtml]="'log-out' | feather:16"></span>Logout</a>
        <a class="dropdown-item text-muted"><span class="text-muted pr-2" [innerHtml]="'settings' | feather:16"></span>Settings</a>
      </div>
    </div>
  </div>
  <div class="d-none d-md-block text-muted">
    <a (click)="logout()" class="nav-item">{{currentUser.email}} - Sign out</a>
  </div>
</nav>
