<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

  <h1 class="display-4">Welcome</h1>
</div>

<br />

<div class="container float-left">
  <div class="row">
    <div class="col-lg-4">
      <img src="assets/course.svg" routerLink="/courses" width="100" height="100">
      <h2 class="pt-2"><a routerLink="/courses">Courses</a></h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="assets/schedule.svg" routerLink="/schedules" width="100" height="100">
      <h2 class="pt-2"><a routerLink="/schedules">Schedules</a></h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="assets/about.svg" width="100" height="100">
      <h2 class="pt-2"><a style="color:#8f8f8f">About</a></h2>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


</div>
<!--
<div class="card bg-light">
  <div class="card-body">
    <blockquote class="blockquote">
      <p class="mb-0">Mach doch mal so 'nen Bot für die Sportanmeldung!</p>
      <footer class="blockquote-footer"><cite>Keiner,</cite> jemals</footer>
    </blockquote>
  </div>
</div>
-->
