<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                
    <h1 class="h2">My Schedules</h1>
    <!--
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <button class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
        All
      </button>
    </div>-->
  </div>
  
  <table class="table table-sm" style="border-collapse:collapse;">
    <thead>
      <tr>
        <th scope="col" style="border-top: none">Kurs ID</th>
        <th scope="col" style="border-top: none">Booking Date</th>
        <th scope="col" style="border-top: none">Running</th>
        <th scope="col" style="border-top: none">Data</th>
        <th scope="col" style="border-top: none">Cancel</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let s of schedules">
        <tr>
          <th class="align-middle" scope="row"><a [href]="s.link" target="_blank">{{ s.kid }}</a></th>
          <td class="align-middle">{{ s.date | date: 'H:mm, dd.MM.yyyy'}}</td>
          <td class="align-middle"><div *ngIf="s.running">✅</div><div *ngIf="!s.running">⚠️</div></td>
          <td [attr.data-target]="'#' + s.kid + s.email" data-toggle="collapse" class="accordion-toggle align-middle" >
            <i class="fas fa-chevron-circle-down" style="vertical-align:text-bottom "></i>
          </td>
          <td class="align-middle"><button type="button" class="btn btn-danger btn-sm" (click)="cancelSchedule(s)">Cancel</button></td>
        </tr>
        <tr >
          <td colspan="6" class="hiddenRow align-middle">
            <div class="accordian-body collapse" [id]="s.kid+s.email">
              <pre>{{ s.data | json }}</pre>
            </div> 
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  
  